.search-Spybook {
  position: relative;
}

.search-Spybook > input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.search-Spybook > input:focus {
  border-color: rgb(40, 73, 125);
}